# Ignorar cache de Python
__pycache__/
*.pyc

# Ignorar archivos temporales de PyInstaller
build/
*.spec

# Ignorar el ejecutable final y sus dependencias internas
#dist/

# Ignorar CUALQUIER archivo .env en cualquier carpeta
.env
dist/app/.env

# Ignorar la carpeta pesada de dependencias internas
dist/app/_internal/
_internal/

# Ignorar archivo de registro de la consola de PyInstaller
app.log